#root {
    width: 100%;
    height: 100%;
}

section.layout {
    background-color:  white;
}

.ant-layout-header.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1280px;
    padding: 0 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

main.page {
    min-height: calc(100vh - 130px);
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    max-width: 1280px;
}

@media (max-width: 1024px) {
    main.page {
        padding: 20px 50px;
    }
}

footer.footer {
    text-align: center;
    background: #001529;
    color: white;
}

.ant-card-actions > li > span > .anticon.fork-icon {
    display: inline;
    margin-right: 5px;
}

.card {
    width: 100%;
}

.content-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.ant-col-offset-6.hero {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button {
    padding: 10px 20px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #1890ff;
    color: white;
    border-radius: 15px;
    max-width: fit-content;
}

.title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}

@media  (max-width: 1024px) {
    .title {
        font-size: 34px;
        margin-bottom: 20px;
    }
}

.animation-holder {
    height: 140px;
}

.title-placeholder .ant-skeleton-title {
    margin: 0 auto 40px;
}

.ant-col.buttonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-col.buttonHolder button {
    width: 100%;
}

.card-content {
    display: flex;
    padding-top: 10px;
}

.card-reset-button {
    margin: 0 0 0 auto;
}

.play-again {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.ant-card-meta-description p {
    margin-bottom: 5px;
}